{{ define "main" }}

<link href="{{ .Site.BaseURL }}style.css" rel="stylesheet"></link>

<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10 col-xl-8">
	 	<article>
			<h1 class="text-center">Recent Tours</h1>
				<div class="text-center">{{ .Content }}</div>
					<div class="card-list">
						{{ range (where .Site.Pages "Section" "docs") }}
							{{ range .Pages }}
								{{ if (.Params.add_to_recent_tours) }}
									<div class="card">
										<div class="card-body">
											<h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
											<p>{{ .Params.description | safeHTML }}</p>
											{{ if not (eq .Params.banner "") }}
												<p align="center">
													<img src="{{ .RelPermalink }}{{ .Params.banner }}" alt="" class="landscape">
												</p>
											{{ end }}
											{{ partial "main/blog-meta.html" . -}}
										</div>
									</div>
								{{ end }}
							{{ end }}
						{{ end }}
				</div>
	    </article>
	</div>
</div>

{{ end }}